/* .wrapper {
	width: 100vw;
	height: calc(100vh - 13rem);
} */

.form-container {
	display: block;
	justify-content: center;
	align-items: center;
	margin: 8rem auto;
	width: 500px;
	height: 100%;
}

.form-group {
	width: 100%;
	background-color: #06283d;
	color: #fff;
}

.form {
	padding: 2rem;
	width: 100%;
	background-color: #06283d;
}

.form.profile {
	background-color: rgba(193, 208, 219, 0.288);
}

.control {
	margin-bottom: 0.5rem;
}

.control label {
	font-size: 1.1rem;
	margin-bottom: 0.25rem;
	display: block;
	color: #fff;
}

.control input {
	font: inherit;
	border-radius: 4px;
	width: 40rem;
	padding: 7px;
	max-width: 100%;
	margin-bottom: 20px;
}

.control.profile input {
	width: 25rem;
}

.control.profile label {
	color: #06283d;
}
.auth-btn,
.auth-text {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

.auth-text {
	color: #fff;
}

.auth-text span {
	padding-left: 10px;
	text-decoration: underline;
	cursor: pointer;
}

.header-text {
	text-align: center;
	color: #06283d;
	font-size: 2rem;
	padding-bottom: 1rem;
}
